<h1 align="center" class="title"> VIABLE ARTICLES</h1>
<div class="col-sm-8 blog-main">
<div class="blog-post">
<% @articles.each do |article| %>
<h2 class="blog-post-title article-title"><%= article.title.capitalize %></h2>
<% body = article.description || 'No content available' %>
<p class="article-body"><%= truncate(body, length: 200) %></p>
<%= link_to "Click here to view more", article_path(article) %>
<hr>
<% end %>
<hr>
</div>

<%= will_paginate @articles, inner_window: 3, outer_window: 2 %>

</div>