<h1 align="center" class="title">Latest On Viable</h1>

<div class="container center">
<%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
<%= will_paginate %>
</div>