<html>
<style>
    p {
        color: red;
    }

    h1 {
        text-align: center;
        color: blue;
    }
</style>
<h1> About us </h1>
<body>
    <p> We at Alpha Blog believe that the only way to spread tech is by blogging about it.</p>
    <p> Synergy is the best word to describe our development and progress.</p>
    <p> We aim at making the blog great again.</p>
</body>
<%= link_to 'Home', root_path %>