<html>
    <h1> Contact Us </h1>
    <body>
        <form>
            <table>
                <tr>
                    <td>Enter Name: <input type="text" value="text" required></td>
                </tr>
                <tr>
                    <td>Enter Mobile No: <input type="text" value="text" required></td>
                </tr>
                <tr>
                    <td>Enter Message <input type="text" value="text" required></td>
                </tr>
            </table>
        </form>
    </body>
</html>