<html>
<style>
    h1 {
        text-align: center;
        color: blue;
    }

    p {
        color: red;
    }
</style>
<h1> Welcome to Alpha Blog </h1>
<p> We are a bunch of ordinary developers who make extraordinary things </p>
<p> Ashish Rao is our Co-founder and CEO </p>
<p> We are currently in development </p>
</body>
<h2> Subscribe for our newsletter </h2>
<form>
<input type="email" name="email" placeholder="enter email">
</form>
</html>

<%= link_to 'About', about_path %><body>