<body class="body">
<div class="center jumbotron">
    <span class="color"><h1 class="blog-title"></h1></span>
    <% if logged_in? != true %>
    <%= link_to 'Sign up', signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
    <%= link_to 'Log In', login_path, class: "btn btn-success btn-lg btn-xlarge" %>
    <% end %>
</div>
<div class="page-header">
  <h1>Popular On Viable <small>Coming soon</small></h1>
</div>
</body>