$navbar-default-bg: #184FAE;


html {
    overflow-x: auto;
    overflow-wrap: hidden;
}



body {
    padding-top: 80px;
    background-color: rgb(27, 37, 37);
}


#logo {
    font-weight: bold;
    font-size: 1.7em;
    float: left;
    color: turquoise;
    letter-spacing: -1px;
}

#logo:hover {
    text-decoration: none;
}

#about {
    color: #fff;
    font-size: 1.2em;
}

#blog {
    color: #fff;
    font-size: 1.2em;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('multiverse.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
    letter-spacing: -1px;
    font-weight: bold;
}

.color {
    color: lightseagreen;
}

.btn-xlarge {
    font-size: 1.7em;
    margin-top: 20px;
}

.footer {
    margin-top: 55px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid teal;
    color: #777;
}

.footer a:hover {
    color: #222;
}
.footer small {
    float: left;
    
}

.footer ul {
    float: right;
    list-style: none;
}

.footer ul li {
    float: left;
    margin-left: 15px;
}

.article-actions {
    // border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description {
        margin-top: 0;
        font-family: 'Andika', sans-serif;
}


.article-title {
    font-weight: bold;
    font-size: 2.0em;
    color: #1193F6;
    font-family: 'Bungee Inline', serif;
}


.title {
    font-family: 'Bungee Inline', cursive;
}

.article-description {
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

.article-meta-details {
    // border-top: 1px solid #eaeaea;
    margin-bottom: 15px;
}

.listing {
    list-style: none;
    padding-left: 2px;
    padding-right: 2px;
}

#dropdown {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
}

.navbar-text {
    color: #fff;
    font-size: 17px;
}


.body-style {
    font-size: 20px;
    text-align: justify;
}

.index-body {
    color: 	#A9A9A9;
}


.dropdown-menu {
    color: #fff;
}
.mini-title {
    color: rgb(235, 238, 238);
    font-size: 30px;
    font-weight: bold;
}

.highlight {
    color: #000;
    background-color: lightcoral;
    font-weight: bold;
}

.input_checkbox input {
    width: auto !important;
    font-size: 20px;
}

.count {
    font-weight: bold;
}

.user-name {
    color: palevioletred;
}

.user {
    font-size: 14px;
}

.date {
    font-size: 14px;
}


.footer-text {
    font-size: 14px;
}

.footer-credits {
    color: coral;
}


.list-category {
    font-size: 17px;
}

.blog-title {
    color: lightseagreen;
}





@import "bootstrap-sprockets";
@import "bootstrap";
