<div class="container-fluid">
<div class="footer">
<small>
Copyright &copy; Viable v1.0
by <a href="https://ashishra0.github.io">Ashish Rao</a>
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
</ul>
</nav>
</div>
</div>