<div class="container-fluid">
    <div class="footer">
        <small class="footer-text">
            Copyright &copy; 2018 <span class="footer-credits">article.do</span>
            by <a href="https://ashishra0.github.io">Ashish Rao</a>
        </small>
    </div>
</div>